html {
	height: 100%;
}

body {
	background-color: #080808;
	font-family: "Noto Sans", sans-serif;
	color: #eeeeee;
	margin: 0;
	padding: 0;
	overflow: hidden;
	pointer-events: none;
	/* These must be overriden for things that need pointer / select */
	user-select: none;
	/* These must be overriden for things that need pointer / select */
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #181818;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #444444;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: min-content min-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-template-areas:
		"a h b"
		"f f f"
		"e e e";
}

#rightgridder {
	grid-area: b;
	display: grid;
	/* js needs to keep this equal to the boardsize */
	grid-template-columns: none;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"c"
		"d"
		"g";
}

#boardsquares {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	background-size: cover;
	border-collapse: collapse;
	table-layout: fixed;
	z-index: 1;
}

#canvas {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	outline-offset: 6px;
	z-index: 2;
}

#boardfriends {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	border-collapse: collapse;
	pointer-events: auto;
	table-layout: fixed;
	z-index: 3;
}

#promotiontable {
	border-collapse: collapse;
	display: none;
	pointer-events: auto;
	position: fixed;
	table-layout: fixed;
	z-index: 4;
}

#statusbox {
	grid-area: c;
	margin-top: 12px;
	padding: 12px;
	font-family: "Noto Sans", sans-serif;
	pointer-events: auto;
	overflow: hidden;
	white-space: pre;
}

#infobox {
	grid-area: d;
	/* so the text doesn't get so near the scroll bar */
	color: #cccccc;
	/* only used for Lc0 stderr output at startup */
	overflow-x: scroll;
	overflow-y: scroll;
	padding: 12px;
	/* so the text doesn't get so near the scroll bar */
	pointer-events: auto;
	white-space: nowrap;
}

#graphcontainer {
	grid-area: e;
	background-color: #111;
	border: 1px solid #333;
	margin: 12px;
	overflow: hidden;
}

#graph {
	pointer-events: auto;
}

#fenbox {
	grid-area: f;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-areas: "fa fb";
	margin: 12px;
}

#fenbox>label {
	grid-area: "fa";
	padding: 8px;
}

#fenbox>input {
	grid-area: "fb";
	background-color: #080808;
	border: 1px solid transparent;
	border-radius: 6px;
	font-family: inherit;
	caret-color: white;
	color: #aaa;
	padding: 8px;
	pointer-events: auto;
	user-select: auto;
	outline: none;
	transition: border-color 0.2s, box-shadow 0.2s;
}

#fenbox>input:focus {
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

#movelist {
	grid-area: g;
	color: #808080;
	font-weight: bold;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 12px;
	/* so the text doesn't get so near the scroll bar */
	pointer-events: auto;
	white-space: pre-wrap;
	max-height: 200px;
}

#movelist>span {
	cursor: pointer;
	padding: 2px 0px 3px 2px;
	border-radius: 3px;
}

#movelist>span:hover {
	background-color: #555577;
	transition: background-color 0.2s;
}

#graphbox {
	pointer-events: auto;
	background-color: #111;
}

#fullbox {
	background-color: #080808;
	display: none;
	/* better than visibility: hidden - never intercepts inputs */
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
}

#fullbox_content {
	overflow: hidden;
	padding: 1em;
	white-space: pre;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	/* I think this is now only used for the "Nibbler in normal browser" message. */
	color: #6cccee;
}

ul {
	list-style: none;
}

.pink {
	color: #ffb0b0;
}

.white {
	color: #eeeeee;
}

.infobox-best {
	color: #6cccee;
}

.infobox-good {
	color: #5dcc5d;
}

.infobox-mistake {
	color: #aaaa68;
}

.infobox-blunder {
	color: #cc7c7c;
}

.movelist-mistake {
	color: #cccc99;
}

.movelist-blunder {
	color: #eeaeae;
}

.gray {
	color: #999999;
}

.darkgray {
	color: #666666;
}

.red {
	color: #ff6666;
}

.yellow {
	color: #ffff00;
}

.green {
	color: #66ff66;
}

.blue {
	color: #6cccee;
}

.bold {
	font-weight: bold;
}

.movenumber {
	font-size: 13px;
	color: #7777bb;
}

.infoline {
	margin-bottom: 0.5em;
}

.infoline strong {
	display: inline-block;
	min-width: 50px;
	text-align: center;
}

.infobox-depth {
	display: inline-block;
	min-width: 25px;
	font-size: smaller;
	color: #ccc;
}

.pv {
	cursor: pointer;
	padding-left: 3px;
	transition: background-color 0.2s;
}

.pv:hover {
	background-color: #555577;
	border-radius: 2px;
}

.enginechooser {
	margin-bottom: 1em;
	transition: color 0.2s;
}

.enginechooser:hover {
	color: #6cccee;
}

.pgnchooser:hover {
	background-color: #202020;
}

.ocm_highlight {
	background-color: #770000;
}

.hover_highlight {
	background-color: #222244;
}

span.movelist_highlight_blue {
	background-color: #333355;
	/* color: #6cccee; */
	outline: 1px solid #6cccee;
}

span.movelist_highlight_yellow {
	background-color: #555533;
	/* color: #ffff00; */
	outline: 1px solid #ffff00;
}

span.nobr {
	white-space: nowrap;
	/* Used for O-O and O-O-O moves */
}

.btn {
	cursor: pointer;
	background-color: #333333;
	border-radius: 4px;
	padding: 8px;
}

.btn:hover {
	background-color: #404549;
}

.cursor-pointer {
	cursor: pointer;
}

#evalbarContainer {
	grid-area: h;
	margin: 12px 0;
	width: 25px;
	max-width: 25px;
	background-color: white;
}

#evalbar {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px rgb(0 0 0 / 70%) inset;
}

#evalbar.reverse {
	transform: rotateX(180deg);
}

#evalbar .black {
	width: 100%;
	height: 50%;
	background: #444;
	transition: height 0.2s;
}