html {
	height: 100%;
}

body {
	background-color: #080808;
	border: 0;
	color: #eeeeee;
	cursor: default;
	margin: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;		/* These must be overriden for things that need pointer / select */
	user-select: none;			/* These must be overriden for things that need pointer / select */
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #181818;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #444444;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: min-content min-content auto;
	grid-template-rows: min-content min-content auto;
	grid-template-areas:
		"a h b"
		"f f f"
		"g g g";
}

#rightgridder {
	grid-area: b;
	display: grid;
	margin: 1em 0 0 0;
	height: 0;							/* js needs to keep this equal to the boardsize */
	grid-template-columns: none;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"c"
		"d"
		"e";
}

#boardsquares {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	background-size: cover;
	border-collapse: collapse;
	table-layout: fixed;
	z-index: 1;
}

#canvas {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	display: block;
	outline-offset: 6px;
	z-index: 2;
}

#boardfriends {
	grid-area: a;
	margin: 12px 6px 12px 12px;
	border-collapse: collapse;
	pointer-events: auto;
	table-layout: fixed;
	z-index: 3;
}

#promotiontable {
	border-collapse: collapse;
	display: none;
	pointer-events: auto;
	position: fixed;
	table-layout: fixed;
	z-index: 4;
}

#statusbox {
	grid-area: c;
	margin: 0 0 0 12px;
	padding: 5px 0px;
	border: none;
	display: block;
	font-family: "Noto Sans", sans-serif;
	pointer-events: auto;
	overflow: hidden;
	white-space: pre;
}

#infobox {
	grid-area: d;
	margin: 12px 12px 0 12px;
	display: block;
	font-family: "Noto Sans", sans-serif;
	padding-right: 10px;				/* so the text doesn't get so near the scroll bar */
	color: #cccccc;						/* only used for Lc0 stderr output at startup */
	overflow-x: scroll;
	overflow-y: scroll;
	padding-right: 10px;				/* so the text doesn't get so near the scroll bar */
	pointer-events: auto;
	white-space: nowrap;
}

#graph {
	grid-area: e;
	align-self: end;
	display: block;
	float: bottom;
	font-family: "Noto Sans", sans-serif;
	font-size: 100%;
	margin: 10px 0 0 1em;
	pointer-events: auto;
}

input[type=text]:focus {
	outline: 2px dashed gray;
	outline-offset: 4px;
}

#fenbox {
	grid-area: f;
	margin: 1em 1em 0 1em;
	background-color: #080808;
	border: none;
	caret-color: white;
	color: #6cccee;
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 100%;
	pointer-events: auto;
	user-select: auto;
}

#movelist {
	grid-area: g;
	margin: 1em 1em 1em 1em;
	color: #808080;
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 3px;	/* so the text doesn't get so near the scroll bar */
	pointer-events: auto;
	white-space: pre-wrap;
}

#movelist > span {
	cursor: pointer;
	padding: 2px 0px 3px 2px;
	border-radius: 3px;
}

#movelist > span:hover {
	background-color: #555577;
}

#graphbox {
	pointer-events: auto;
	background-color: #111;
}

#fullbox {
	background-color: #080808;
	display: none;						/* better than visibility: hidden - never intercepts inputs */
	font-family: "Noto Sans", sans-serif;
	font-size: 100%;
	height: 100%;
	left: 0;
	overflow-y: auto;
	pointer-events: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
}

#fullbox_content {
	overflow: hidden;
	padding: 1em;
	white-space: pre;
}

td {
	background-color: transparent;
	background-size: contain;
	border: 0;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover, a:active {	/* I think this is now only used for the "Nibbler in normal browser" message. */
	color: #6cccee;
}

ul {
	list-style: none;
}

.pink {
	color: #ffb0b0;
}

.white {
	color: #eeeeee;
}

.infobox-best {
	color: #6cccee;
}

.infobox-good {
	color: #5dcc5d;
}

.infobox-mistake {
	color: #aaaa68;
}

.infobox-blunder {
	color: #cc7c7c;
}

.gray {
	color: #999999;
}

.darkgray {
	color: #666666;
}

.red {
	color: #ff6666;
}

.yellow {
	color: #ffff00;
}

.green {
	color: #66ff66;
}

.blue {
	color: #6cccee;
}

.bold {
	font-weight: bold;
}

.movenumber {
	font-size: 13px;
	color: #7777bb;
}

.infoline {
	margin-bottom: 0.5em;
}

.infoline strong {
	display: inline-block;
	min-width: 50px;
	text-align: center;
}

.infobox-depth {
	display: inline-block;
	min-width: 35px;
	font-size: smaller;
}

.pv {
	cursor: pointer;
	padding-left: 3px;
}

.pv:hover {
	background-color: #555577;
	border-radius: 2px;
}

.enginechooser {
	margin-bottom: 1em;
}

.enginechooser:hover {
	color: #6cccee;
}

.pgnchooser:hover {
	background-color: #202020;
}

.ocm_highlight {
	background-color: #770000;
}

.hover_highlight {
	background-color: #222244;
}

span.movelist_highlight_blue {
	background-color: #333355;
	/* color: #6cccee; */
	outline: 1px solid #6cccee;
}

span.movelist_highlight_yellow {
	background-color: #555533;
	/* color: #ffff00; */
	outline: 1px solid #ffff00;
}

span.nobr {
	white-space: nowrap;				/* Used for O-O and O-O-O moves */
}

.btn {
	cursor: pointer;
	background-color: #333333;
	border-radius: 4px;
	padding: 6px;
}

.btn:hover {
	background-color: #404549;
}

.cursor-pointer {
	cursor: pointer;
}

#evalbarContainer {
	grid-area: h;
	margin: 12px 0;
	width: 25px;
	background-color: white;
}

#evalbar {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px rgb(0 0 0 / 70%) inset;
}

#evalbar.reverse {
    transform: rotateX(180deg);
}

#evalbar .black {
	width: 100%;
	height: 50%;
	background: #444;
	transition: height 0.2s;
}
